:root{
    --window-color: #eee;
}

body{
    background: #111;
    font-family: Arial, Helvetica, sans-serif;
}

.window{
    position: absolute;
    display: flex;
    flex-direction: column;
    background: #eee;
    box-shadow: 5px 10px 15px 10px #000;
    border-radius: 0.3rem;
    overflow: hidden;
    cursor:nw-resize;
}

.win-head{
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid #5555;
    background: var(--window-color);
    color: #fff;
    padding: 0.2rem 0;
}

.win-ops{
    width: fit-content;
    display: flex;
    flex-direction: row;
    padding: 0.2em 1.5rem;
    justify-content: center;
    align-items: center;
}
.win-ops .win-close{
    width: 0.5rem;
    height: 0.5rem;
    background: #d20;
    border-radius: 50%;
    border: 2px solid #111;
    padding: 0;
    margin: 0;
    transition: 300ms;
}
.win-close:hover{
    filter: brightness(1.5);
    scale: 1.2;
}

.win-title{
    pointer-events: none;
    padding: 0.2em;
    width: 100%;
    text-align: center;
    font-weight: bold;
    background: #fff;
    border: 1px solid #5558;
    color: #000;
    margin-right: 1.5rem;
    border-radius: 1rem;
}
.win-title span::selection{
    background: none;
}
.win-body{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background: #fff;
}
.win-body *{
    font-size: 1em;
}

.page-heading{
    font-size: 2em;
    margin-bottom: 0.5em;
    font-family: 'Courier New', Courier, monospace;
    font-weight: lighter;
}

.page-button{
    border-radius: 1em;
    outline: none;
    border: 1px solid #5555;
    background: #eee;
    padding: 0.5em 1em;
    transition: 100ms;
}
.page-button:hover{
    border-color: #111;
    background: #fff;
}
.page-button:active{
    background: #111;
    color: #eee;
}

.up-n-down{
    animation-name: upndown;
    animation-duration: 2s;
    animation-timing-function:ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes upndown {
    0%{
        transform: translateY(0);
    }
    100%{
        transform: translateY(10px);
    }
}